include mixins/general/generalMixins
include mixins/contactUsMixins

<!DOCTYPE pug>
html(lang="en" style="height: 100%")
  head
    meta(charset="UFT-8")
    meta(name="viewport" 
      content="width-device-width, initial-scale=1.0")
    link(rel="stylesheet"
      href="assets/css/bootstrap.min.css")
    title Lab06
  body(style="display:flex; flex-wrap: wrap; flex-direction:row; height: 100%")
    +navbar
    section(style="width: 100%")
      .container
        +messageSuccess(name, lastName, email, phone)
    +footer
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="assets/js/bootstrap.min.js")