include mixins/general/generalMixins
include mixins/noticeMixins

<!DOCTYPE pug>
html(lang="en")
  +head
  body
    +header
    main
      +sliderNotice
      .container
        +containerNotice(movies, genres)
    +footer
    +script