mixin myHero
  .card.bg-dark.text-white.mb-4
    img.card-img(src='https://img.freepik.com/vector-gratis/fondo-geometrico-negro-oscuro-3d-poli-baja_79145-393.jpg?size=626&ext=jpg' style="height: 500px")
    .card-img-overlay(style="display: flex; justify-content: center; align-items: center; ")
      .row(style="display: flex; justify-content: center;")
        .col-sm-12.col-md-4(style="text-align: center")
          h3.card-title Encuentra tus peliculas favoritas
          p.card-text
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis illo eum nam cum, architecto laudantium exercitationem aliquam sunt, quo inventore vitae magnam doloribus sint optio harum voluptatum obcaecati hic veritatis eveniet provident, quasi commodi. Inventore, aliquid placeat. Totam, aspernatur eius!

mixin descripcion
  div
    +jumbotron("Descripción")
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. A perferendis ullam id beatae amet eos, rerum mollitia, maiores consequuntur voluptatum voluptas fugit incidunt tenetur temporibus earum vero ipsum labore odit error eum assumenda officiis quasi. Ab delectus recusandae corrupti, voluptas sed, iure reiciendis tenetur excepturi consectetur est dolorem dicta totam sint obcaecati omnis dolorum voluptatum rem. Reprehenderit asperiores aspernatur atque. Expedita quibusdam tempore, quisquam dignissimos eveniet nihil tenetur? Repellat vero alias vitae dolorem distinctio qui minus aspernatur autem hic quia sit enim provident asperiores at nemo officiis velit accusantium laborum libero sequi, fuga dolor nihil? Sapiente necessitatibus dolorum cum ab esse rerum vitae! Aperiam minus odio laudantium rem eligendi commodi voluptatem perspiciatis sed. Repellendus perferendis voluptatem praesentium, culpa, voluptatum distinctio cumque sed minus ad laborum corporis voluptate ducimus iusto veritatis est! Hic quasi molestiae tempora maiores nesciunt obcaecati, expedita molestias excepturi vel. Fuga recusandae totam, quasi natus dolore tempora eos rerum consequatur rem quibusdam eaque corporis veniam voluptate maiores, enim ab! Nesciunt quaerat ex praesentium soluta veritatis cum eaque ullam aperiam similique. Incidunt atque odio sapiente, doloribus sed quae animi reprehenderit suscipit. Mollitia explicabo autem consectetur dolorum! Iure commodi consequuntur eaque est perspiciatis cum quaerat suscipit sapiente possimus corrupti non rerum, similique voluptates illo, quia ratione nemo mollitia ea pariatur veritatis esse magni! Similique eius laboriosam repudiandae vel pariatur iure quia impedit, vitae excepturi odit quos suscipit praesentium hic recusandae expedita iste doloribus et distinctio. Magnam iusto assumenda id laudantium sunt et in at, obcaecati atque eius repudiandae possimus eligendi est explicabo harum mollitia temporibus iste quod fugiat odio rem error consequatur earum architecto. Iusto, error voluptatum magni et velit animi officiis qui repudiandae laboriosam delectus dolore impedit eaque, at nemo distinctio possimus. Accusantium unde sapiente consectetur consequatur sequi nihil, nobis distinctio animi quos doloribus eaque nulla? Maxime corrupti facilis, quisquam eaque quidem debitis fugiat quasi possimus reprehenderit, veritatis necessitatibus vero non! Ut ea suscipit corrupti dolorem aliquam illo, quae delectus magni repellendus labore animi perspiciatis magnam, consequatur quaerat. Dicta, ab non? Eum id ab eos adipisci asperiores voluptates praesentium incidunt ex qui dicta ad temporibus, perferendis molestiae alias numquam velit dolorum inventore maxime quod quos modi neque aliquid facilis accusantium? Nam non voluptatibus quisquam, vero voluptates dolor inventore repellendus quis hic eum quam? Minus, nesciunt debitis. Perferendis aliquid quis excepturi, consequatur rem, itaque numquam iusto quasi reiciendis aliquam pariatur obcaecati hic dolor voluptas ullam maiores, ad sed voluptatibus! Accusantium.

mixin desarrolladores
  +jumbotron("Equipo de Desarrollo")
  .row
    .col-sm-12.col-md-4.mt-3.mb-3.rounded(style="display:flex; justify-content: center")
      .card(style='width: 18rem')
        img.card-img-top(src='https://i.pinimg.com/originals/f5/f6/86/f5f6861aaf9a36c8cca9b43c6a420130.jpg' style="height: 100px; width: 100px; margin: auto; border-radius: 50px; margin-top: 20px;")
        .card-body
          h5.card-title(style="text-align: center")
            | Jean Marco Miranda
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    
    .col-sm-12.col-md-4.mt-3.mb-3.rounded(style="display:flex; justify-content: center")
      .card(style='width: 18rem;')
        img.card-img-top(src='https://i.pinimg.com/originals/f5/f6/86/f5f6861aaf9a36c8cca9b43c6a420130.jpg' style="height: 100px; width: 100px; margin: auto; border-radius: 50px; margin-top: 20px;")
        .card-body
          h5.card-(style="text-align: center")
            | Jean Marco Miranda
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

    .col-sm-12.col-md-4.mt-3.mb-3.rounded(style="display:flex; justify-content: center")
      .card(style='width: 18rem;')
        img.card-img-top(src='https://i.pinimg.com/originals/f5/f6/86/f5f6861aaf9a36c8cca9b43c6a420130.jpg' style="height: 100px; width: 100px; margin: auto; border-radius: 50px; margin-top: 20px;")
        .card-body
          h5.card-title(style="text-align: center")
            | Jean Marco Miranda
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
