mixin form(errors, bodyData)
  if errors
    form(action="/answer" method="post")
      .form-group
        .row
          .col-6
            label(for="Name") Nombres
            if errors.name === true
              input#Name.form-control(type="text" name="name" value=bodyData.name)
              small#nameHelp.form-text.text-muted Ingrese su nombre.
            else
              input#Name.form-control.border-danger(type="text" name="name" value=bodyData.name)
              small#nameHelp.form-text.text-danger Texto invalido, vuelva a intentarlo.
          .col-6
            label(for="LastName") Apellidos
            if errors.lastName === true
              input#LastName.form-control(type="text" name="lastName" value=bodyData.lastName)
              small#lastNameHelp.form-text.text-muted Ingrese su apellido.
            else
              input#LastName.form-control.border-danger(type="text" name="lastName" value=bodyData.lastName)
              small#lastNameHelp.form-text.text-danger Texto invalido, vuelva a intentarlo.
      .form-group
        label(for='Email') Correo Electronico
        if errors.email === true
          input#Email.form-control(type='text' aria-describedby='emailHelp' value=bodyData.email name="email")
          small#emailHelp.form-text.text-muted example@example.com - Su correo no será compartido con nadie.
        else
          input#Email.form-control.border-danger(type='email' aria-describedby='emailHelp' value=bodyData.email name="email")
          small#emailHelp.form-text.text-danger Email invalido, intente otra vez.
      .form-group
        .row
          .col-6
            if errors.phone === true
              label(for="PhoneNumber") Número Telefonico
              input#PhoneNumber.form-control(type="tel" name="phone" value=bodyData.phone)
              small#phoneHelp.form-text.text-muted Un número de 9 digitos.
            else
              label(for="PhoneNumber") Número Telefonico
              input#PhoneNumber.form-control.border-danger(type="tel" name="phone" value=bodyData.phone)
              small#phoneHelp.form-text.text-danger Debe ingresar 9 digitos numericos.
          .col-6
            label(for="BirthDate") Fecha de Nacimiento
            if errors.bDate === true
              input#BirthDate.form-control(type="date" name="bDate" value=bodyData.bDate)
              small#bDateHelp.form-text.text-muted Ingrese su fecha de nacimiento.
            else
              input#BirthDate.form-control.border-danger(type="date" name="bDate" value=bodyData.bDate)
              small#bDateHelp.form-text.text-danger Necesita ser mayor de edad para realizar esta acción.
      .form-group
        if errors.message === true
          label(for='Message') Mensaje
          textarea#Message.form-control( rows="4" name="message" value=bodyData.message)
          small#messageHelp.form-text.text-muted Escriba un mensaje en el cual exprese el motivo por el cual desea contactarnos.
        else
          label(for='Message') Mensaje
          textarea#Message.form-control.border-danger( rows="4" name="message" value=bodyData.message)
          small#messageHelp.form-text.text-danger Este campo es obligatorio y debe contener menos de 150 caracteres.

      button.btn.btn-primary(type='submit') Enviar
    
  else
    form(action="/answer" method="post")
      .form-group
        .row
          .col-6
            label(for="nombres") Nombres
            input.form-control(type="text" name="name")
            small#emailHelp.form-text.text-muted Ingrese su nombre.
          .col-6
            label(for="apellidos") Apellidos
            input.form-control(type="text" name="lastName")
            small#emailHelp.form-text.text-muted Ingrese su apellido.
      .form-group
        label(for='exampleInputEmail1') Correo Electronico
        input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' name="email")
        small#emailHelp.form-text.text-muted example@example.com - Su correo no será compartido con nadie.
      .form-group
        .row
          .col-6
            label(for="nombres") Número Telefonico
            input.form-control(type="tel" name="phone")
            small#emailHelp.form-text.text-muted Un número de 9 digitos.
          .col-6
            label(for="apellidos") Fecha de Nacimiento
            input.form-control(type="date" name="bDate")
            small#emailHelp.form-text.text-muted Ingrese su fecha de nacimiento.
      .form-group
        label(for='exampleInputEmail1') Mensaje
        textarea#Message.form-control( rows="4" name="message")
        small#emailHelp.form-text.text-muted Escriba un mensaje en el cual exprese el motivo por el cual desea contactarnos.

      button.btn.btn-primary(type='submit') Enviar

mixin messageSuccess(name, lastName, email, phone)
  h1.text-success.text-center
    | ¡Mensaje enviado con exito! 
  h4.text-center= 'Querido ' + name + ' ' + lastName + ', gracias por hacernos llegar su consulta, nosotros lo contactaremos enviando un mensaje al correo ' + email + ' o a su telefono ' + phone + '.'